body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 16px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Amatic SC';
}
table {
	
	font-weight: 300;
	font-size: 16px;
}
table thead {
	font-family: 'Amatic SC';	
	font-size: 22px;
}
nav, .navbar-brand {
	font-family: 'Amatic SC';
	font-size: 30px;
}
.main-content{
	padding-top: 25px;
	padding-bottom: 25px;
}

/* label za forme */
label {
	font-family: 'Amatic SC';
	font-size: 24px;
	font-weight: 400;
}

/* definition list styles */
dl dt {
	font-family: 'Amatic SC';
	font-size: 24px;
	font-weight: 400;
}

/* seznami hranil in podobno */
dd ul {
	margin-top: 20px;
	margin-bottom: 20px;
	list-style-type: none;
	padding-left: 0px;
}
dd ul dt {
	margin-left: 8px;
	font-size: 20px;
}
dd ul dd {
	margin-bottom: 5px;
}

#entry-search {
	margin-top: 100px;
	margin-bottom: 100px;
}

#entry-search button {
	max-width: 200px;
	width: 100%;
	margin-top: 25px;
}
select {
	text-indent: 5px;
}

footer{
	padding: 30px 15px;
}

dl {

}

dl dd {
	margin-left: 20px;
	margin-bottom: 20px;
}

.entry-manipulation {
	margin-top: 20px;
}
.entry-manipulation .glyphicon, .manipulation-btns .glyphicon{
	display: inline-block;
	margin-right: 15px;
}

/* consumable */
.form-control.limit-width{
	max-width: 250px;
	display: inline-block;
}
.form-control.limit-width.smaller{
	max-width: 150px;
}
#add-nutrient-to-consumable-wrapper #add-nutrient-to-consumable {
	margin-top: 10px;
	display: block;
}
.table tbody tr td {
	vertical-align: middle;
}

.form-group .help-block.with-errors {
	display: none;
}
.form-group.has-error .help-block.with-errors {
	display: block;
}


/* autocomplete */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { cursor: pointer; padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.position-message {
	position: fixed;
	top: 15px;
	right: 15px;
	border-radius: 4px;
	box-shadow: 0px 0px 2px black;
	display:none;
}
.position-message.success {
	background-color: #4CFF4C;
}
.display-table{
	display: table;
	padding: 15px;
}
.table-cell {
	display: table-cell;
	padding: 5px;
}
.table-cell.vertical-middle {
	vertical-align: middle;
}
.table-cell .fa {
	font-size: 2rem;
}
