.main-content{
	padding-top: 25px;
	padding-bottom: 25px;
}

footer, header{
	padding: 30px 15px;
}

dl {

}

dl dd {
	margin-left: 20px;
	margin-bottom: 20px;
}

.entry-manipulation {
	margin-top: 20px;
}
.entry-manipulation .glyphicon, .manipulation-btns .glyphicon{
	display: inline-block;
	margin-right: 15px;
}

/* consumable */
.form-control.limit-width{
	max-width: 250px;
	display: inline-block;
}
.form-control.limit-width.smaller{
	max-width: 150px;
}
#add-nutrient-to-consumable-wrapper #add-nutrient-to-consumable {
	margin-top: 10px;
	display: block;
}
.table tbody tr td {
	vertical-align: middle;
}
